
*{margin: 0;
    padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

/* .hi_am_vincent{
    text-shadow: 2px 2px 0 #3b3b3ba1 !important;} */
.download_resume{
    width: 12em;
    /* border: 2px solid silver; */
}
.portfolio_projects{
    cursor: pointer;
}
.development img{
   height: 300px !important;
 
}
.workCategorytab{cursor: pointer;}

section.blogContainer{
box-sizing: border-box;
}

#aboutMe{
   
    position: relative;
}

.links li{
    position: relative;
}
.links li:hover::after{
display: block;
}
.links li:after{
content: '';
position: absolute;
top: -5px;
right: -5px;
width: 7px;
height: 7px;
border-radius: 50%;
background-color: rgb(161, 32, 0);
transition: ease-in .5s all;
display: none;
}
/*  */
